* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: black;
  overflow: hidden;
  cursor: pointer;
}

/* Ripple Ball */
.ripple {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #888;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 0.9s ease-out;
}

/* Ripple Animation */
@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0.7;
  }
  100% {
    transform: translate(-50%, -50%) scale(5);
    opacity: 0;
  }
}
